@import "variables.css";
@import 'ant-design-vue/dist/reset.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-wrapper {
    position: relative;
}
.ant-table-thead {
    height: 50px;
}
.ant-drawer-mask {
    border-radius: 8px !important;
}

.ant-drawer-header {
    border-radius: 8px 0 0 0 !important;
}
.ant-tabs-nav {
    margin: 0 !important;
}
.ant-drawer-body {
    padding: 0 !important;
}