html {
    --header-height: 60px;
    --prime-text-color: white;
    --accent-color: hsla(170, 62%, 16%, 1);
    --accent-gradient-color: linear-gradient(180deg, hsla(170, 63%, 51%, 1) 0%, hsla(170, 62%, 16%, 1) 100%);
}

